
.connection-sidebar{
  //width: 30%;
}
connections-card-content{
  width: 30%;
}
.tp-content {
  background-color: rgb(255, 255, 255);
  width: 70%;
  height: 90%;
  position: absolute;
  left: 200px;
}
.width-100{
  width: 100%;
}
.padding-lr-5{
  padding: 0 5%;
}
.invite-button-container{
  padding: 3% 0%;
}
