.mat-sidenav{
  width: 20%;
  border: 0px;
}

.invite-button{
    width: 20%;
}
.connection-sidebar{
  //width: 30%;
}
connections-card-content{
  width: 30%;
}
.tp-content {
  background-color: rgb(255, 255, 255);
  width: 70%;
  height: 90%;
  position: absolute;
  left: 200px;
}
