<!-- <mat-sidenav-container color='primary' class = "tp-container">
    <mat-sidenav mode = "side" opened>
        <mat-nav-list>
            <app-nav-link *ngFor="let link of navLinksDesktop"
            [link] = "link" (onNavigationClicked)='navItemClicked($event)'>
          </app-nav-link>
       </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class = "tp-content">
        <ng-container *ngComponentOutlet="cardComponent"></ng-container>
    </mat-sidenav-content>
  </mat-sidenav-container> -->
  <div color='primary' class = "tp-container" fxLayout="row">
    <mat-sidenav mode = "side" opened>
        <mat-nav-list>
            <app-nav-link *ngFor="let link of navLinksDesktop"
            [link] = "link" (onNavigationClicked)='navItemClicked($event)'>
          </app-nav-link>
       </mat-nav-list>
    </mat-sidenav>
    <div class = "tp-content">
        <ng-container *ngComponentOutlet="cardComponent"></ng-container>
    </div>
  </div>
