<mat-toolbar color = "primary">
  <span class = "gap">File</span>
  <span>Edit</span>
  <span class = "filler"></span>
  <span>About</span>
</mat-toolbar>
<mat-sidenav-container class = "tp-container">
  <mat-sidenav mode = "side" opened>
      <mat-nav-list>
          <app-nav-link *ngFor="let link of navLinksDesktop" 
          [link] = "link" (onNavigationClicked)='navItemClicked($event)'>
        </app-nav-link>
     </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class = "tp-content">
      <ng-container *ngComponentOutlet="cardComponent"></ng-container>
  </mat-sidenav-content>
</mat-sidenav-container>
