.mat-card-header{
  display: flex;
  justify-content: left;
  margin: 0% auto;
  div{
    margin-left: 2%;
    color: #374c66;
    .mat-card-title{
      text-transform: capitalize;
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.27px;
      color: #374c67;
    }
    .mat-card-subtitle{
      font-size: 13px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.22px;
      color: #7b91af;
    }
  }
}
