.mat-card-header{
  display: flex;
  justify-content: center;
  margin: 0% auto;
  div{
    margin-left: 2%;
    color: #374c66;
    .mat-card-title{
      text-transform: capitalize;
    }
    .mat-card-subtitle{
      font-size: 0.7em;
    }
  }
}
