<div class="page-content">
  <app-title class="item">
      Hi!
  </app-title>
  <app-user-info [profileDetails]="profileDetails" class="item"></app-user-info>
  <app-sub-title subClass="no-margin">You have</app-sub-title>
  <h1 class="connectionCount">{{this.connectionList.length}}</h1>
  <app-sub-title subClass="dark-bold">connection from google</app-sub-title>
  <div class="item button-group">
    <app-icon-button cssClass="primary-button" label="Invite All"
    altText="Invite All" (onClick)="inviteAll();"></app-icon-button>
    <app-icon-button cssClass="secondary-button" label="Select and Invite"
    altText="Select and Invite"  (onClick)="selectedInvite();"></app-icon-button>
    <app-icon-button cssClass="thirdary-button" label="Skip"
    altText="Skip"  ></app-icon-button>
  </div>
</div>
