<div fxLayout="column" *ngFor="let factor of ratingFactors" fxLayoutGap="30px">
  <div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="50px" fxLayout.lt-md="column" fxLayout.xs="column">
    <div class="title">
      <app-title customeClassName="font-13">{{factor.factorName}}</app-title>
    </div>
    <div >
      <app-readonly-star-rating [rating]="factor.starRating" [starCount]="starCount" [color]="starColor"
        textRequired="false">
      </app-readonly-star-rating>
    </div>
    <div>
        <app-title customeClassName="font-14-bold">{{factor.starRating}}Stars</app-title>
        <app-title customeClassName="font-14-nobold">/10</app-title>
    </div>
    <div>
        <app-title customeClassName="font-14-nobold">({{factor.totalRatings}})</app-title>
    </div>
    <div fxHide.lt-md (click)="openPopOver($event,'knowledge-status-popup-status',false)">
        <app-heading-icon materialIcon="equalizer"></app-heading-icon>
    </div>
    <div fxHide fxShow.lt-md (click)="openPopOver($event,'knowledge-status-popup-status',true)">
        <app-heading-icon materialIcon="equalizer"></app-heading-icon>
    </div>
  </div>
  <div>
    <mat-divider></mat-divider>
  </div>
  <jw-modal id="knowledge-status-popup-status" [XAxis]="left" [YAxis]="top">
      <app-knowledge-status-popup></app-knowledge-status-popup>
  </jw-modal>
</div>