
<div class="container">
    <div><img  src="../../../../assets/img/logo.png"/></div>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Welcome!</mat-card-title>
        <mat-card-subtitle>Sign in with any of your social network account.</mat-card-subtitle>
      </mat-card-header>
        <mat-card-content *ngIf="settingsData">
            <!-- <mat-form-field appearance="outline">
                <mat-label>User Name</mat-label>
                <input matInput placeholder="User Name" >
                <mat-icon matPrefix >person</mat-icon>
              </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput placeholder="User Name"  type="password"  >
                <mat-icon matPrefix >security</mat-icon>
              </mat-form-field>
              <div class="links">
                <div><a routerLink="/register">Register</a></div>
                <div><a>Forgot?</a></div>
              </div> -->
              <!-- <google-signin
              [clientId]="myClientId"
              [width]="myWidth"
              [theme]="myTheme"
              [scope]="myScope"
              [longTitle]="myLongTitle"
              (googleSignInSuccess)="onGoogleSignInSuccess($event)">
            </google-signin> -->

              <!-- <button mat-raised-button 	color="primary" (click)="liAuth();">
                  <mat-icon>thumb_up_alt</mat-icon>
                  LinkedIn
              </button> -->
              <div *ngIf="settingsData.socialMediaSetting.enableFaceBook">
                <button mat-stroked-button class="fb-button"	(click)="login($event, 'facebook');">
                    <img src="../../../../assets/icons/iconfinder_facebook.png"  alt="Facebook">
                    Continue with Facebook
                </button>
              </div>
              <div *ngIf="settingsData.socialMediaSetting.enableLinkedin">
                <button mat-stroked-button class="linkedin-button" (click)="login($event, 'linkedin');"	 >
                  <img src="../../../../assets/icons/iconfinder_linkedin.png" alt="Linkedin">
                    Continue with Linkedin
                  </button>
              </div>
              <div *ngIf="settingsData.socialMediaSetting.enableGoogle">
                <button mat-stroked-button class="google-button" #googleButton	(click)="login($event, 'google');" id="googleBtn" >
                  <img src="../../../../assets/icons/iconfinder_Google.png"  alt="Google">
                    Continue with Google
                  </button>
              </div>
              <div *ngIf="settingsData.socialMediaSetting.enableTwitter">
                <button mat-stroked-button class="twitter-button"	 (click)="login($event, 'twitter');">
                  <img src="../../../../assets/icons/iconfinder_twitter.png"  alt="Twitter">
                    Continue with Twitter
                  </button>
              </div>
        </mat-card-content>
    </mat-card>

</div>
