
<div class="container">
    <div><img  src="../../../../assets/img/logo.png"/></div>
    <mat-card>
      <mat-card-header>
        <app-title>
            Welcome!
      </app-title>

        <app-sub-title>Sign in with any of your social network account.</app-sub-title>
      </mat-card-header>
        <mat-card-content *ngIf="settingsData">
            <!-- <mat-form-field appearance="outline">
                <mat-label>User Name</mat-label>
                <input matInput placeholder="User Name" >
                <mat-icon matPrefix >person</mat-icon>
              </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput placeholder="User Name"  type="password"  >
                <mat-icon matPrefix >security</mat-icon>
              </mat-form-field>
              <div class="links">
                <div><a routerLink="/register">Register</a></div>
                <div><a>Forgot?</a></div>
              </div> -->
              <!-- <google-signin
              [clientId]="myClientId"
              [width]="myWidth"
              [theme]="myTheme"
              [scope]="myScope"
              [longTitle]="myLongTitle"
              (googleSignInSuccess)="onGoogleSignInSuccess($event)">
            </google-signin> -->

              <!-- <button mat-raised-button 	color="primary" (click)="liAuth();">
                  <mat-icon>thumb_up_alt</mat-icon>
                  LinkedIn
              </button> -->
              <div *ngIf="settingsData.socialMediaSetting.enableFaceBook">
                <app-icon-button cssClass="fb-button" label="Continue with Facebook"
                iconSrc="../../../../assets/icons/iconfinder_facebook.png" altText="Facebook"
                (onClick)="login($event, 'facebook');"></app-icon-button>
              </div>
              <div *ngIf="settingsData.socialMediaSetting.enableLinkedin">
                  <app-icon-button cssClass="linkedin-button" label="Continue with Linkedin"
                  iconSrc="../../../../assets/icons/iconfinder_linkedin.png" altText="Linkedin"
                  (onClick)="login($event, 'linkedin');"></app-icon-button>
              </div>
              <div *ngIf="settingsData.socialMediaSetting.enableGoogle">
                  <app-icon-button cssClass="google-button" label="Continue with Google"
                  iconSrc="../../../../assets/icons/iconfinder_Google.png" altText="Google"
                  (onClick)="login($event, 'google');"></app-icon-button>
              </div>
              <div *ngIf="settingsData.socialMediaSetting.enableTwitter">
                  <app-icon-button cssClass="twitter-button" label="Continue with Twitter"
                  iconSrc="../../../../assets/icons/iconfinder_twitter.png" altText="Twitter"
                  (onClick)="login($event, 'twitter');"></app-icon-button>
              </div>
        </mat-card-content>
    </mat-card>

</div>
