footer{
  padding: 5% 0 0;
}
app-sub-title{
  text-align: center;
}
.imgcomplete{
  height: 188px;
  width: 98%;
}
.registrationComplete{
  position: relative;
  background: url('../../../../../assets/img/sm/celebration.png') center center no-repeat;
  height: 100%;
  width: 100%;
  bottom: 91px;
}
