.mat-stroked-button{
  margin: 10px;
  min-width: 210px;
}
.fb-button{
  border-color:#7c8eb8;
  color: #7c8eb8;
  font-weight: bold;
}
.google-button{
  border-color:#7dabf6;
  color: #7dabf6;
  font-weight: bold;
}
.linkedin-button{
  border-color:#85aedd;
  color: #85aedd;
  font-weight: bold;
}
.twitter-button{
  border-color:#87c3fa;
  color: #87c3fa;
  font-weight: bold;
}
