<div class="container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field appearance="outline">
                <mat-label>User Name</mat-label>
                <input matInput placeholder="User Name" >
                <mat-icon matPrefix >person</mat-icon>
              </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput placeholder="User Name"  type="password"  >
                <mat-icon matPrefix >security</mat-icon>
              </mat-form-field>
              <div class="links">
                <div><a routerLink="/register">Register</a></div>
                <div><a>Forgot?</a></div>
              </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button 	color="primary" (click)="fbLogin();">
                <mat-icon>thumb_up_alt</mat-icon>
                Facebook
            </button>
            <button mat-raised-button 	color="primary"		>LOGIN</button>
          </mat-card-actions>
    </mat-card>

</div>
