<div class="page-content">

  <app-user-info class="item"></app-user-info>
  <div class="item searchContainer">
      <mat-form-field appearance="outline">
        <mat-label>Search all friends</mat-label>
        <input matInput placeholder="Search all friends"  [(ngModel)]="SearchField">
        <mat-icon matPrefix>search</mat-icon>
      </mat-form-field>
    </div>
  <div class="item margin-bottom-0">

    <div class="content-container">
      <app-friends-list [friendsList]="connectionList" [searchBy]="SearchField"></app-friends-list>
    </div>

  </div>
  <div class="item button-group">
    <app-icon-button cssClass="primary-button" label="Invite"
    altText="Invite" (onClick)="sendInvite();" ></app-icon-button>
    <app-icon-button cssClass="thirdary-button" label="Skip"
    altText="Skip"  ></app-icon-button>
  </div>
</div>
