.link-connection{
  padding: 5%;
  cursor: pointer;
}
.active{
  border-left: 2px solid #e33866;
  border-top: 1px solid #eaecf3;
  border-bottom: 1px solid #eaecf3;
  border-right: 0px !important;
}
.link-connection{
  border-right: 1px solid #eaecf3;
}
