<a mat-list-item  (click)="onClicked()"  [ngClass]="{'active': activeStatus}"><mat-icon mat-list-icon>{{link.icon}}</mat-icon> <span fxHide="true" fxShow.gt-sm>{{link.title}}</span></a>
<!-- <a
           mat-list-item
           (click)="onClicked()"
           routerLinkActive
           #routerLinkActiveInstance="routerLinkActive"
           [attr.tabindex]="routerLinkActiveInstance.isActive ? 0 : -1"
           [class.list-item-active]="routerLinkActiveInstance.isActive"
           [routerLink]="[item.route]">
          <mat-icon matListIcon class="nav-list-icon">{{link.icon}}</mat-icon>
          {{link.title}}
        </a> -->
