.mat-list-item{
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: 0.2px;
  color: #7b91af;
}
.active {
  font-weight: bold;
  background-color: #ffffff;
  border-left: 2px solid #e33866;
}
// .active {
//   background: blue;
// }
