<mat-card fxLayout="column" fxLayoutGap="30px">
    <div>
        <app-title customeClassName="font-16">Your Average Rating</app-title>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="30px"
        fxLayoutAlign="space-between none">
        <div fxLayout="row">
            <app-readonly-star-rating [rating]="rating" [starCount]="starCount" [color]="starColor">
            </app-readonly-star-rating>
        </div>
        <div fxLayoutGap="30px" fxLayoutAlign="space-around none">
            <div>
                <app-heading-icon materialIcon="trending_up" className="circleAround"></app-heading-icon>
            </div>
            <div fxLayout="column">
                <app-title customeClassName="font-13">3,593</app-title>
                <app-title customeClassName="font-13-noBold">&nbsp;&nbsp;Ratings Received</app-title>
            </div>
        </div>
        <div fxLayoutGap="30px" fxLayoutAlign="space-around none">
            <div>
                <app-heading-icon materialIcon="message" className="circleAround"></app-heading-icon>
            </div>
            <div fxLayout="column">
                <app-title customeClassName="font-13">4,893</app-title>
                <app-title customeClassName="font-13-noBold">&nbsp;&nbsp; Feedbacks Received</app-title>
            </div>
        </div>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="30px"
        fxLayoutAlign="space-between none">
        <app-title customeClassName="font-18-nobold">Rating factors</app-title>
    </div>

    <div>
        <mat-divider [inset]="true"></mat-divider>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="30px"
        fxLayoutAlign="space-between none">
        <app-rating-factors [ratingFactors]="ratingFactors"></app-rating-factors>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="30px"
        fxLayoutAlign="space-around none">
    </div>
<app-rating-charts ></app-rating-charts>

</mat-card>