<mat-card  fxLayout="column">
    <mat-card-content class="connections-card-content" fxLayout="column">
      <div class="connection-sidebar">
      <div>My Connections</div>
        <div class="invite-button">
            <app-icon-button cssClass="secondary-button" label="Invite More People" altText="Invite More people" ></app-icon-button>
          </div>
      <app-link *ngFor="let link of navLinksDesktop"
      [link] = "link" (onNavigationClicked)='navItemClicked($event)'>
    </app-link>
  </div>
    <mat-card-content class = "tp-content">
      <!-- <ng-container *ngComponentOutlet="cardComponent"></ng-container> -->
      <app-connected-profiles [title]="cardTitle"></app-connected-profiles>
    </mat-card-content>
    </mat-card-content>
  </mat-card>
