<mat-card-content>
  <div class="search-panel" fxFlex="60" fxLayoutAlign="start center">
    <mat-form-field appearance="outline">
      <mat-label>Search all friends</mat-label>
      <input matInput placeholder="Search all friends" [(ngModel)]="SearchField">
      <mat-icon matPrefix>search</mat-icon>
    </mat-form-field>
  </div>
</mat-card-content>
<mat-divider [inset]="true"></mat-divider>
<div class="scrollbar" id="style-3">
<mat-list *ngFor="let profile of CONNECTION_LIST ">
  <mat-list-item>
    <app-avatar imgSrc="{{profile.profilePic}}" imgName="image"></app-avatar>
    <div class="container">
      <div class="row">
        <app-title customeClassName="font-16">{{profile.name}}</app-title>
      </div>
      <div class="row">
        <app-title customeClassName="font-13-noBold">{{profile.designation}}</app-title>
      </div>
    </div>
    <mat-divider [inset]="true"></mat-divider>
  </mat-list-item>
</mat-list>
</div>
<mat-paginator [length]="100" [pageSize]="10">
</mat-paginator>
