.mat-card{
  width: 100%;
}
.icon-only{
  width: 49px;
  height: 36px;
  border-radius: 3px;
  background-color: #f7f9fc;
  margin: 10px 4px;
}
.icon-only-social{
  width: 36px;
  height: 36px;
  border-radius: 3px;
  border: solid 1px #eaecf3;
  background-color: #ffffff;
  padding: 2px;
  min-width: 36px;
  margin: 5px;
}
.padding-top{
  padding-top: 20px;
}
.padding-vertical{
  padding: 20px 0px;
}
