/* You can add global styles to this file, and also import other style files */
@import 'src/my-theme.scss';

html,
body {
  height: 100%;
  background-color:#EEEEEE;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.toolbar {
  background: #fff;
  color: rgb(14, 12, 12);
}

.mat-drawer {
  background-color:#EEEEEE;
  color: rgba(0, 0, 0, .87);
}

.text-left {
  text-align: left;
}

.text-rigth {
  text-align: right;
}

.text-center {
  text-align: center;
}
