/* You can add global styles to this file, and also import other style files */
@import 'src/my-theme.scss';

html,
body {
  height: 100%;
  background-color:#EEEEEE;
}

body {
  margin: 0;
  font-family: Lato, Roboto, "Helvetica Neue", sans-serif;
}

.toolbar {
  background: #fff;
  color: rgb(14, 12, 12);
}

.mat-drawer {
  background-color:#EEEEEE;
  color: rgba(0, 0, 0, .87);
}

.text-left {
  text-align: left;
}

.text-rigth {
  text-align: right;
}

.text-center {
  text-align: center;
}
.hyperLink{
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2px;
  letter-spacing: 0.23px;
  color: #3993ff;
}
.mat-form-field{
  width: 100%;
}
.padding-3{
  padding: 3%;
}
.margin-top-left-3{
  margin: 3% 0% 0% 3%!important;
}
.right-border{
  border-right: 1px solid #eaecf3;
}
mat-sidenav:focus {
  outline: none;
  border: 0;
}
