<perfect-scrollbar class="scroll-container" fxFlex="auto" [config]="config" [scrollIndicators]="true">
  <div class="scrollable-content">
    <mat-selection-list >
        <mat-list-option *ngFor="let connection of (friendsList | arrayfilter:searchBy)" class="list">
            <img matListAvatar src="{{connection.profilePic}}" alt="{{connection.name}}">
            <h3 matLine> {{connection.name}} </h3>
            <p matLine>
              <span> {{connection.toEmail}} </span>
            </p>
        </mat-list-option>
    </mat-selection-list>

  </div>
</perfect-scrollbar>
